<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" xmlns:xi="http://www.w3.org/2001/XInclude" 
	monitorInterval="30" >
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level [%logger{36}] - %msg%n" />
		</Console>
	</appenders>
	
	<loggers>
		<logger name="org.reflections" level="info" additivity="false">  
	        <appender-ref ref="Console" />  
	    </logger>
		<logger name="org.xnio" level="info" additivity="false">  
	        <appender-ref ref="Console" />  
	    </logger>
		<logger name="io.undertow.request.security" level="info" additivity="false">  
	        <appender-ref ref="Console" />  
	    </logger>
		<logger name="org.jboss.resteasy.resteasy_jaxrs.i18n" level="info" additivity="false">  
	        <appender-ref ref="Console" />  
	    </logger>
		<logger name="io.netty" level="info" additivity="false">  
	        <appender-ref ref="Console" />  
	    </logger>
		<root level="debug">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration> 